


/* Fuentes */
/*
Source Sans Pro:
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Comic Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/* Variables */

$alegreya: 'Alegreya Sans', sans-serif;
$comic: 'Comic Neue', cursive;
$josefin: 'Josefin Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$noto: 'Noto Sans', sans-serif;
$open: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$source: 'Source Sans Pro', sans-serif;

